/* Start Normalize Setting */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  text-align: center;
}

h1,
h2 {
  font-family: Monoton;
  margin: 30px;
}
/* End Normalize Setting */

/* Start form */
/* Form styling */
form {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 20px auto;
  border: 1px solid #ccc;
  width: 50vw;
}
/* customizing number input */

.form-group{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

.form-group label{
  font-size: 25px;
  margin-right: 20px;
}

/* input style */
.form-group input[type=number] {
  font-family: sans-serif;
  max-width: 5rem;
  padding: .5rem;
  border: 1px solid #ddd;
  font-size: 2rem;
  height: 3rem;
  font-weight: bold;
  text-align: center;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

/* controller style */


.form-group .controller.minus{
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.form-group .controller.plus{
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

/* input buttons signs*/
.form-group .controller:before,
.form-group .controller:after {
  display: inline-block;
  position: absolute;
  content: '';
  width: 1rem;
  height: 2px;
  background-color: #212121;
  transform: translate(-50%, -50%);
}

.form-group .controller.plus:after {
  transform: translate(-50%, -50%) rotate(90deg);
}

.controller {
  position: relative;
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
  width: 3rem;
  height: 3rem;
  margin: 0;
  padding: 1rem;
  -webkit-appearance: none;
  background-color: transparent;
  border: 1px solid #ddd;
  outline:none;
  cursor: pointer;
}
/* Form submition style */
.create,
.clear {
  width: 10rem;
  background-color: #3498db;
  color: #fff;
  border: none;
  font-size: 20px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  text-transform: uppercase;
}

.clear{
  background-color: #ff6768;
}

.create::after,
.create::before,
.clear::after,
.clear::before{
  content: none !important;
}

label,
input {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

/* End form */

/* Start table */
table {
  margin: 50px auto;
  border-collapse: collapse;
}
tr {
  height: 20px;
}
td {
  width: 20px;
}
table,
tr,
td {
  border: 1px dashed #000;
}

input[type = "button"] {
  width: 100px;
}

/* End Table */

/****************** Start Media Query ******************/

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575px) {
  form{
    width: 90vw;
  }
}